<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServisZaRegistracijuVozila" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62906/ServisZaRegistracijuVozila.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServisZaRegistracijuVozila"
                contract="SistemZaRegistracijuVozila.IServisZaRegistracijuVozila"
                name="WSHttpBinding_IServisZaRegistracijuVozila">
                <identity>
                    <userPrincipalName value="DESKTOP-NBG0UVO\jovana" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>