<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
   <wsDualHttpBinding>
    <binding name="binding1" />
    <binding name="WSDualHttpBinding_IChatService" />
   </wsDualHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:57724/ChatService.svc" binding="wsDualHttpBinding"
    bindingConfiguration="binding1" contract="Chat.IChatService"
    name="WSDualHttpBinding" />
  </client>
	</system.serviceModel>
</configuration>